<div class="py-2">
  <div class="space-y-8 md:space-y-0 md:space-x-8 rtl:space-x-reverse md:flex md:items-center">
    <div class="flex items-center justify-center h-48 bg-gray-300 rounded w-48">
      <%= inline_svg_tag("icons/missing-img.svg", class: "w-10 h-10 text-gray-200") %>
    </div>
  </div>
</div>

<div class="pb-2">
  <%= product.title %>
</div>
