<div class="max-w-4xl mx-auto py-8">
  <% reviews.each do |review| %>
    <%= render partial: review, locals: { review: review } %>
  <% end %>
  <%= pagy_info(pagy).html_safe %>
  <%= pagy_nav(pagy).html_safe %>
</div>
